html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('../../src/img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 64px;
}